extends layout

block content
  h1= title
  p
    a(href='/') Go Home
  p
    a(href='/map') Store Map
  h3 Create a new store
  form(method="POST", action="./editStore",autocomplete='on')
    .form-group
      label(for="Store Name") Store Name
      input#NAME_STORE.form-control( type="text", name="NAME_STORE", required, autofocus="autofocus", placeholder=data.NAME_STORE)
    .form-group
      label(for="Address") Address
      input#ADDRESS_STREET.form-control( type="text", name="ADDRESS_STREET", required, autofocus="autofocus", placeholder=data.ADDRESS_STREET)
    .form-group
      label(for="City") City
      input#ADDRESS_CITY.form-control( type="text", name="ADDRESS_CITY", required, autofocus="autofocus", placeholder=data.ADDRESS_CITY)
    .form-group
      label(for="State") State
      input#ADDRESS_STATE.form-control( type="text", name="ADDRESS_STATE", required, autofocus="autofocus", placeholder=data.ADDRESS_STATE)
    .form-group
      label(for="Zip Code") Zip Code
      input#ADDRESS_ZIP.form-control( type="text", name="ADDRESS_ZIP", required, autofocus="autofocus", placeholder=data.ADDRESS_ZIP)
    .form-group
      label(for="Delivery Fee") Delivery Fee
      input#DELIVERY_FEE.form-control( type="text", name="DELIVERY_FEE", required, autofocus="autofocus", placeholder=data.DELIVERY_FEE)
    .form-group
      label(for="Cost per mile") Cost per mile
      input#COST_PER_MILE.form-control( type="text", name="COST_PER_MILE", required, autofocus="autofocus", placeholder=data.COST_PER_MILE)
    .form-group
      label(for="Telephone 1") Telephone 1
      input#PHONE_1.form-control( type="tel", name="PHONE_1", autofocus="autofocus", placeholder=data.PHONE_1)
    .form-group
      label(for="Telephone") Telephone 2
      input#PHONE_2.form-control( type="tel", name="PHONE_2", autofocus="autofocus", placeholder=data.PHONE_2)
      <hr>
    .form-group
        button.btn.btn-primary(type="submit") Save
  form(method="GET", action="/")
    .form-group
        button.btn.btn-default(type="submit") Cancel
